.hero-baner{
    width: calc(100%-32px);
    display: flex;
    gap: 16px;
    margin: 24px 11px 0px;
    padding: 0px 16px;
   
}
.hero-baner a{
      width: 100%;
      min-width: 0;
}
.hero-baner img{
     width: 100%;
     height: 100%;
     object-fit: cover;
     display: block;
     border-radius: 12px;
     -webkit-border-radius: 12px;
     -moz-border-radius: 12px;
     -ms-border-radius: 12px;
     -o-border-radius: 12px;
     overflow: hidden;
}