.slider-top {
  width: 100%;
  height: calc(90vh - 168px);
  background-color: crimson;
  .swiper {
    width: 100%;
    height: 100%;
    .swiper-wrapper {
      .swiper-slide {
        width: 100%;
        height: 100%;
        text-align: center;
        font-size: 18px;
        background: #444;
        display: flex;
        justify-content: center;
        align-items: center;
        & img {
          display: block;
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
  }
}
